.page {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 1200px;
  height: 740px;
  background-color: white;
}

.page-item {
  display: flex;
  justify-content: space-evenly;
  width: 1200px;
  height: 740px;
  background-color: inherit;
}

.page-text {
  align-self: center;
}

.page-main-text {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 32px;
}

.page-img {
  display: flex;
  align-items: center;
}
.page-img img {
  width: 532px;
  height: 684px;
}
