a {
  color: inherit;
  text-decoration: none;
}

/* 이미지 선택 방지 */
img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.main {
  width: 100%;
  height: 100%;
  background-color: white;
}
