.container {
  width: 740px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-box {
  width: 677px;
  height: 500px;
  align-self: center;
  border-radius: 10px;
  overflow: hidden;
}

.imgs {
  display: flex;
  overflow: hidden;
  width: calc(677 * 3px);
  height: 500px;
  transition: 0.5s;
}

.slide {
  transform: translateX(-677px);
}

.img {
  width: 677px;
  height: 500px;
  object-fit: cover;
}

.button {
  cursor: pointer;
}
